* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bangers', cursive;
}

.main {
  background: #F6EB7A;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 48px auto;
  padding: 16px 8px;
  max-width: 600px;
  gap: 16px;
}

.main-button {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #000;
  color: #F6EB7A;
  border: 3px solid #000;
  border-radius: 100px;
  padding: 12px 40px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.main-button:hover {
  background-color: white;
  color: #000;
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 64px;
  text-transform: uppercase;
}

.title-span {
  padding-top: 24px;
}

.instructions {
  max-width: 360px;
  text-align: center;
}

/* Dice Style */

.die-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #11100B;
}

.die-cover{
  height: 100px;
  background: url('../public/poster.png');
  background-size: cover;
  background-position-y: 10%;
}

.die {
  display: grid;
  grid-template: repeat(2, auto) / repeat(5, 1fr);
  gap: 16px;
  padding: 24px;
  margin: auto;
  max-width: fit-content;
}

.die-face {
  width: 60px;
  height: 60px;
  border-radius: 10%;
  padding: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  display: grid;
  column-gap: 8px;
  grid-template-areas:
    "a . c"
    "e g f"
    "d . b";
}

.die-dot{
  background-color: #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.die-dot:nth-child(1) {
  grid-area: a;
}

.die-dot:nth-child(2) {
  grid-area: b;
}

.die-dot:nth-child(3) {
  grid-area: c;
}

.die-dot:nth-child(4) {
  grid-area: d;
}

.die-dot:nth-child(5) {
  grid-area: e;
}

.die-dot:nth-child(6) {
  grid-area: f;
}

.die-dot:nth-child(odd):last-child {
  grid-area: g;
}

@media all and (max-width: 600px) {
  .main {
    min-width: fit-content;
    margin: 0 auto;
    padding: 0 0 16px 0;
  }
  .title {
    font-size: 48px;
  }
  .main-button {
    font-size: 20px;
    padding: 8px 32px;

  }
  .die-container {
    min-width: fit-content;
  }
  .die {
    padding: 16px 8px;
  }
  .die-face {
    width: 40px;
    height: 40px;
    padding: 2px;
  }
  .die-dot {
    width: 6px;
    height: 6px;
  }
}
